<nav>
    <ul>
        <!-- pas de href car ça recharge toute la page  -->
        <li><a routerLink="/home">home</a></li>
        <li><p>Mes demo:</p></li>
        <li><a routerLink="/demo/demo1">Les composants</a></li>
        <li><a routerLink="/demo/demo2">Les bindings</a></li>
        <li><a routerLink="/demo/demo3">Les pipes</a></li>
        <li><a routerLink="/demo/demo4">Les directives</a></li>
        <li><p>Mes exercices:</p></li>
        <li><a routerLink="/exo/exo1">Le chronomètre</a></li>
        <li><a routerLink="/exo/exo2">La navbar</a></li>
    </ul>
</nav>
