.authentication-container{
  top:1rem;
  right: 1rem;
  width: 10rem;
  border: 1px solid red;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-left:auto;
  display:flex;
  justify-content: flex-end;
}
